.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.rotate{
  animation: rotAnim 2s linear infinite;
}

@keyframes rotAnim
{
  100%{
    transform: rotate(360deg);
  }
}

.shadow1{
  @apply shadow-[0px_5px_10px_rgba(.01,.01,.01,.5)];
}

.editButton{
  @apply w-full mt-6 h-10 rounded-lg font-bold bg-blue-700 border-2 border-blue-700 text-white hover:bg-white hover:text-blue-700;
}

img{
  object-fit: cover;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #4056A1;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Apply the necessary styles to ensure proper alignment */
.testimonial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 50px;
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.arrow-button.left {
  left: 10px;
}

.arrow-button.right {
  right: 10px;
}

.testimonial-cards-wrapper {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 20px 0;
  gap: 20px;
}

.testimonial-cards-wrapper::-webkit-scrollbar {
  display: none; /* Hide scrollbar for a cleaner look */
}

.testimonial-card {
  flex: 0 0 auto;
  width: 280px;
  margin: 0 10px;
}

.loading {
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: #4056A1;
}
